@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.dashboard-container {
    display: flex;
    align-items: stretch;
    flex: 1;
}

main {
    display: flex;
    justify-content: space-between;
    /* Espalhas os cards usando o espaço livre */
    flex-wrap: wrap;
    /* Se a tela encolher, joga o card pra linha de baixo */
    gap: 20px;
    /* Espaço entre colunas */
    padding: 20px;
    flex: 1;
    /*Faz o main crescer para ocupar espaço disponível entre o header e o footer */
    /*Adicione essa linha se precisar corrigir o alinhamento das linhas de cards */
    align-content: flex-start;
    /* Agrupa as linhas de cards no topo do main */
}

nav {
    width: 200px;
    background-color: #2c3e50;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background 0.3s;
}

nav a:hover {
    background-color: #34495e;
    color: #ffcc00;
}

.perfil-usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: auto;
}

.perfil-usuario img {
    width: 40px;
    border-radius: 50%;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #004a8d;
    margin-bottom: 10px;
}

article p {
    margin-bottom: 20px;
    color: #555;
}

body {
    background-color: #dfdfdf;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

.btn {
    margin-top: auto;
    display: inline-block;
    text-align: center;
    background-color: #004a8d;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3;
}

.btn:hover {
    background-color: #003366;
}

/*Container da Tabela */
.table-responsive {
    width: 100; /* modificado */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-collapse: collapse;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* Cabeçalho Profissional */
th {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 15px;
    text-align: left;
    font-size: 13px;
    text-transform: uppercase;
}

/*Células de Dados */
td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #444;
}

/* Efeito Zebra e Hover */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #d1d7df;
    /*Destaque suave ao passar o omouse */
}

td.acoes, th.acoes{
    text-align: center;
    vertical-align: center;
}
.btn-icon {
    background: none;
    border: none;
    color: #004a8d; 
    cursor: pointer;
    font-size: 16px;
}

/* Formatação do formulário */
.card-form {
    background-color: white;
    max-width: 700px;
    /* Evita que o form fique muito largo em telas grandes */
    margin: 20px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.form-header {
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    /* Label em cima, Input embaixo */
    gap: 8px;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
    /* Coloca dois campos lado a lado */
}

.flex-1 {
    flex: 1;
}

label {
    font-weight: bold;
    color: #2c3e50;
    font-size: 14px;
}

input,
select {
    padding: 12px;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    transition: 0.3s;
}

input:focus {
    border-color: #004a8d;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 74, 141, 0.1);
}

.btn-save {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-save:hover {
    background-color: #058d3e;
}

.btn-cancel {
    text-decoration: none;
    background-color: #faf4f4;
    color: rgb(19, 18, 18);
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-cancel:hover {
    color: white;
    background-color: #991b1b;
}

.ativo {
    background-color: #d1fae5; /* Fundo verde bem claro */
    color: #065f46;            /* Texto verde escuro para contraste */
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
  
}

.inativo {
    text-decoration: none;
    background-color: #fee2e2;
    color: #991b1b;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
   
}

.badge {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: default;
    letter-spacing: 0.5px;
}
.user {
    color: rgb(0, 0, 0);
}

.admin {
    color: #a38407;
}

.editor {
    color:rgb(98, 39, 153);
}


.btn-add {
    background-color: #004a8d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.btn-add:hover {
    background-color: #003366;
}

.header-content {
    display: flex;
    justify-content: space-between; /* Espaço entre o título e o botão */
    align-items:center;
    width: 100%;
    margin-bottom: 10px;
}

.btn-icon:hover { 
color: #ffcc00; 
}
